/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Inter Italic */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Norse Bold */
@font-face {
  font-family: 'Norse';
  src: url('./fonts/Norse-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
    box-sizing: border;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: minmax(200px, 1fr) minmax(400px, 800px);
    height: 100vh;
}

.image-container {
    background: black url("./images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo-container {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 25% 0 auto;
}

.logo-image {
    height: 5rem;
    width: auto;
}

.logo-text {
    font-size: 5rem;
    font-family: 'Norse', sans-serif;
    color: white;
}

.image-footer {
    text-align: center;
    color: aliceblue;
    text-shadow:  
        0px 0px 3px black,
        0px 0px 2px black,
        0px 0px 1px black;
    margin-bottom: 1rem;
}

.image-footer a {
    color: aliceblue;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
}

.sign-up-container > * {
    padding: 2rem
}

.sign-up-header > h2 {
    margin-top: 2rem;
}

.sign-up-form {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15), 0px -1px 2px rgba(0,0,0,0.05);
}

fieldset {
    margin: 1rem 0;
    border: none;
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    row-gap: 1rem;
}

label {
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    margin-left: 0.25rem
}

input {
    display: block;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    width: 80%;
    border: 1px solid #ccc;
}

input:focus {
    outline: 1px solid #4672eb;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

input:user-invalid {
    outline: 1px solid red;
}

.create-account-button {
    padding: 1rem 4rem;
    border-radius: 10px;
    background-color: #6a5652;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
    margin: 0 auto 1rem;
}

.login-link {
    text-decoration: none;
    color: #6a5652;
    font-weight: bold;
}